body {
    margin: 0;
    background-color: #05050a;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
}
canvas {
    border: 2px solid #333;
    background-color: #000;
}
